/* Reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sizeIconNavBar: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 8px 32px;
}

.navbar__center {
    font-size: 14px;
}

.navbar__left .fa-bars{
    font-size: 18px;
    padding: 4px;
}

.navbar__right .fa-bell{
    font-size: 18px;
    padding: 4px;
}

/* css content */

.content {
    padding: 16px 32px;
    width: 100%;
}

.box {
    width: 100%;
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 15px;
    padding: 24px;
}

/* css avatar */

.box__left .avatar {
    height: 32px;
    width: 32px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
}

.box__left .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.box__left .username {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #292929;
    font-weight: 600;
}

.box__header {
    display: flex;
    height: 32px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.box__left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box__right {
    display: flex;
}

.box__right .fa-bookmark {
    padding: 4px 8px;
}

.box__right .fa-ellipsis {
    padding: 4px 8px;
}

.title {
    margin: 15px 0;
    font-size: 24px;
    color: #292929;
}

.box__title {
    text-decoration: none;
}

.box__title__name {
    margin-top: 8px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.box__discription {
    color: #505050;
    font-size: 16px;
    margin: 4px 0 15px 0;
    line-height: 1.6;
}

.box__tagname {
    color: #292929;
}

.box__tagname .box__tagname__btn{
    padding: 4px 10px;
    background-color: #F2F2F2;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}


