@media (max-width: 768px) {
    .navbar {
        padding: 8px 16px;
    }
    .navbar__left {
        display: none;
    }
    .content {
        padding: 16px 16px;
    }
    .Search {
        padding: 16px;
    }
    .content__left {
        width: 100%;
        padding-right: 0;
    }
    .content__right {
        display: none;
    }
    .Search {
        width: 100%;
    }
}